
  h2,h3,h4,h5,h6 {
      font-weight: 200;
      line-height: 1.4em;
  }
  a {
      color:#2491db;
      text-decoration:underline;
  }
  a:hover {
      color:#2361b3;
      text-decoration: none;
  }
  hr {
      align-items: center;
      height: 0.05em;
      background-color: black;
  }
  .width-page {
      margin-left: auto;
      margin-right: auto;
      width: 45em
  }
  .header{
      font-size: 18pt;
      font-family: Calibri;
  }
  .block1 {
     font-family: 'Segoe UI',serif;
  }
  .styh {
      font-family: Calibri;
      margin-top: -30px;
   }
 