  body {
	  background-color: #333;
 }
 
  .block {
    display: table; 
    margin: 50px auto; 
    text-align: center;	
 }
 
table {
	  width: 630px;
	  border-color:white;
	  border-color: whitesmoke;
 }
 
td {
	 width:60px;
	 height:60px;	
     opacity: 0.8;
     border-color: whitesmoke;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));	 
 }
 
td:hover {
	 background-color:#ff0000a8;
	 cursor:pointer;	
	 transition: 0.7s;
     opacity: 1;
     box-shadow: inset 0 0 0 23px #53ea93; 
     -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));   
     -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
     -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
     box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
 } 
 
 .tbl {
	 border-color: whitesmoke;;
	 border-collapse: collapse;	 
 }